
@{
    ViewBag.Title = "Nuevo documento Base de Datos Medio Ambiental";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-default">
                <div class="box-header with-border">
                    <i class="fa fa-file-text-o"></i>
                    <h3 class="box-title">Nuevo documento</h3>
                </div>
                <div class="box-body">
                    <div class="alert alert-success">
                        <h4>
                            <i class="icon fa fa-check"></i>
                            Atención!
                        </h4>
                        El nuevo documento fue agregado correctamente.
                    </div>
                    <div class="row">
                        <div class="col-md-9">

                        </div>
                        <div class="col-md-3" style="text-align: right">
                            <a href="~/Document/" class="btn btn-info">Volver</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
