@{
    ViewBag.Title = "Dashboard";
}
<section class="content-header">
    <h1>
        @ViewBag.Title
    </h1>
</section>
<section class="content">
    <div class="box">
        <div class="box-header">
            <div class="col-md-12">
                <h2>Sistema de Gestión Documental</h2>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sit amet diam justo. Duis et augue urna. Curabitur magna quam,
                rutrum in tristique eu, semper sit amet tellus. Cras finibus lacus sit amet commodo pretium. Mauris et nisl laoreet, ornare
                eros in, tincidunt erat. Aliquam quis felis dui. Sed eget commodo mi, ac dignissim nulla. Praesent a elit eu erat placerat
                pharetra et vel urna. Phasellus erat purus, aliquam eu nisl sit amet, scelerisque laoreet nulla. Vivamus non arcu quis dolor
                elementum laoreet nec eget urna. Praesent dignissim justo eu sem dapibus consectetur.
                <br /><br />
                Nam tempus orci neque, in ultrices mauris semper quis. Sed hendrerit elit enim, quis ultrices tortor tempus non. Aenean diam
                lorem, commodo in turpis nec, interdum iaculis felis. Pellentesque eget tellus risus. Duis id hendrerit elit, vitae tempor
                neque. Quisque sit amet volutpat purus. Fusce mauris felis, venenatis vitae malesuada in, lacinia sed metus. Praesent sapien
                tellus, hendrerit sed mauris sit amet, maximus placerat nulla. Mauris non imperdiet quam. Nam hendrerit at ex vel mollis.
                Aliquam in aliquam nisl. Suspendisse a molestie ipsum, sed facilisis ex. Duis sodales blandit ipsum, a ullamcorper enim viverra at.
            </div>
        </div>
    </div>
</section>